NEXT_PUBLIC_SUPABASE_URL= #Supabase Project URL
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY= #Supabase Publishable Key
SUPABASE_SECRET_KEY= #Supabase Secret Key
ANTHROPIC_API_KEY= #Claude API Key
ANTHROPIC_MODEL= #claude 모델 (claude-haiku-4-5-20251001)
EXCHANGE_RATE_API_KEY= #ExchangeRate API Key