NEXT_PUBLIC_SUPABASE_URL= #Supabase Project URL
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY= #Supabase Publishable Key
SUPABASE_SECRET_KEY= #Supabase Secret Key
ANTHROPIC_API_KEY= #Claude API Key
ANTHROPIC_MODEL= #claude-3-5-haiku-20241022
EXCHANGE_RATE_API_KEY= #ExchangeRate API Key